name: Split and Push Front & Back

on:
  push:
    branches:
      - main

jobs:
  split:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout monorepo
        uses: actions/checkout@v3

      # --------------------------
      #  FRONTEND -> PetTrack-Front
      # --------------------------
      - name: Prepare frontend folder
        run: |
          mkdir front_export
          cp -R clients/web-client/* front_export/

      - name: Push frontend to PetTrack-Front
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.SPLIT_PUSH_TOKEN }}
        with:
          source-directory: front_export
          destination-github-username: proyecto-nube
          destination-repository-name: PetTrack-Front
          user-name: "github-actions"
          user-email: "github-actions@github.com"
          target-branch: main
          commit-message: "Auto-sync frontend from monorepo"

      # -------------------------
      #  BACKEND -> PetTrack-Back
      # -------------------------
      - name: Prepare backend folder
        run: |
          mkdir back_export
          cp -R services/* back_export/

      - name: Push backend to PetTrack-Back
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.SPLIT_PUSH_TOKEN }}
        with:
          source-directory: back_export
          destination-github-username: proyecto-nube
          destination-repository-name: PetTrack-Back
          user-name: "github-actions"
          user-email: "github-actions@github.com"
          target-branch: main
          commit-message: "Auto-sync backend from monorepo"
